<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style>
		body{
			background-image:url('https://unsplash.com/photos/Xaanw0s0pMk/download?force=true');
			background-size: cover;
			text-decoration-color: #fff;

		}
		.c{
			position: relative;
			top: 300px;
			text-align: center;
			display: inline;
			
		}
   
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/signup/">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signin/">Login</a>
            </li>
        </ul>
        </div>
    </nav>

<div class="c">
<h1>Event-Meet</h1>
</div>
</body>
</html>